.list{data: { model_name: list.class.name.underscore, update_url: board_list_sort_path(@board.id, list.id)}}
  .list__name
    = list.name
  .list__icon
    = link_to edit_board_list_path(@board.id, list.id), remote: true do
      = icon 'fas', 'edit', class: "icon"
    = link_to board_list_path(@board.id, list.id), method: :delete, "data-dismiss" => "modal", data: { confirm: "リストを削除しますか？", commit: "DELETE", cancel: "Cancel"}, title: "DELETE List" do
      = icon 'fas', 'trash-alt', class: "icon"
  .list__cards
    = render list.cards.rank(:row_order)
