.list
  .list__name
    = list.name
  .list__icon
    = link_to edit_board_list_path(@board.id, list.id), remote: true do
      = icon 'fas', 'edit', class: "icon"
    = link_to board_list_path(@board.id, list.id), method: :delete do
      = icon 'fas', 'trash-alt', class: "icon"
  .list__cards
    = render list.cards
