.board__form
  = form_for @team do |f|
    - if @team.errors.any?
      .form__errors
        %h3= "#{@team.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @team.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :name, class: 'form-control-label'
      %br/
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :about, class: 'form-control-label'
      %br/
      = f.text_area :about, class: 'form-control'
    .form-group
      = f.label :image, class: 'form-control-label'
      %br/
      = f.file_field :image
    .form-group
      %label Add member
      %br/
      %input#member__search__field{placeholder: 'ユーザー名を入力', type: 'text', name: 'keyword'}
      %button{class: "btn btn-outline-success btn-sm",id: "member__search"} Search
      #member__search__result

      #team__members
        [Team Members]
        .team__member
          %input{name: "team[user_ids][]", type: "hidden", value: current_user.id}
          %p.team__user__name
            = current_user.name

        - if users.present?
          - users.each do |user|
            .team__member
              %input{name: "team[user_ids][]", type: "hidden", value: user.id}
              %p.team__member__name
                = user.name
              %button{class: "team__member__delete btn btn-outline-danger btn-sm"} Delete
    .form-group
      = f.submit "Save", class: "btn btn-primary"
