.mypage
  .profile
    .profile__inner
      .profile__image
        = team_icon_large(@team)
      .profile__name
        = @team.name
        = link_to edit_team_path(@team) do
          = icon 'fas', 'edit', class: 'icon'
        .profile__about
          = @team.about

  %ul.tab
    %li.tab__menu.active Member
    %li.tab__menu Boards

  .tab__area
    .tab__area__contents.show
      - @team.users.each do |user|
        .tab__area__content
          = link_to user_path(user) do
            = user_icon_small(user)
            = user.name
    .tab__area__contents
      - @team.boards.each do |board|
        .board__link
          = link_to board_path(board.id), class: "link" do
            .board__link{style: "background-image: url(#{board.background.image})"}
              .bkrgba
                .board__name
                  = board.name
          .board__deadline
            = icon 'far', 'clock'
            = board.deadline

