.mypage
  %h2 About me
  .profile
    .profile__image
    - if @user.image.attached?
      = image_tag @user.image.variant(resize: "130x130^"), class: "rounded-circle"
    - else
      = image_tag "person.jpeg", class: "rounded-circle", size: "130x130"
    .profile__name
      = @user.name
      - if @user.id == current_user.id
        = link_to edit_user_registration_path do
          = icon 'fas', 'edit', class: 'icon'
      - else
        - if @isRoom == true
          = link_to room_path(@roomId) do
            = icon 'far', 'envelope', class: 'icon'
        - else
          = form_for @room do |f|
            = fields_for @entry do |e|
              = e.hidden_field :user_id, value: @user.id
            = f.submit "DM", class: "btn btn-primary btn-sm"
      .profile__about
        = @user.about

  %ul.tab
    %li.tab__menu.active Team
    %li.tab__menu Cards

  .tab__area
    .tab__area__contents.show
      .user__team
        team.name
    %table.tab__area__contents{cellpadding: "20"}
      %tr
        %th Card
        %th LIMIT
        %th Board From
        %tr
