.mypage
  %h2 About me
  .profile
    .profile__image
    = user_icon_large(@user)
    .profile__name
      = @user.name
      - if @user.id == current_user.id
        = link_to edit_user_registration_path do
          = icon 'fas', 'edit', class: 'icon'
      - else
        - if @isRoom == true
          = link_to room_path(@roomId) do
            = icon 'far', 'envelope', class: 'icon'
        - else
          = form_for @room do |f|
            = fields_for @entry do |e|
              = e.hidden_field :user_id, value: @user.id
            = f.submit "DM", class: "btn btn-secondary btn-sm"
      .profile__about
        = @user.about

  %ul.tab
    %li.tab__menu.active Team
    %li.tab__menu Cards

  .tab__area
    .tab__area__contents.show
      - @user.teams.each do |team|
        .tab__area__content
          = link_to team_path(team) do
            = team_icon_small(team)
            = team.name

    %table.tab__area__contents{cellpadding: "20"}
      %thead
        %tr
          %th Card
          %th LIMIT
          %th Board From
      - @user.cards.each do |card|
        %tbody
          %tr
            %td
              = card.name
            %td
              = card.deadline
            %td
              = link_to "#{card.list.board.name}", board_path(card.list.board.id)
