.board__form
  = form_for @board do |f|
    - if @board.errors.any?
      .form__errors
        %h3= "#{@board.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @board.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :name, class: 'form-control-label'
      %br/
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :about, class: 'form-control-label'
      %br/
      = f.text_area :about, class: 'form-control'

    .form-group
      = f.label :deadline, class: 'form-control-label'
      %br/
      = f.date_field :deadline, class: 'form-control'
    .form-group.backgrounds
      = f.label :background, class: 'form-control-label'
      %br/
      .image
      - @backgrounds.each do |background|
        = image_tag background.image, class: 'background', data: {id: background.id}
        = f.radio_button :background_id, background.id
    .form-group
      = f.submit "Save", class: "btn btn-primary"
