.board
  %h2 My Boards
  .board__index
    %p.bold [Personal]
    .boards
      - @pboards.each do |board|
        %div
          = link_to board_path(board.id), class: "link" do
            .board__link{style: "background-image: url(#{board.background.image})"}
              .bkrgba
                .board__name
                  = board.name
          - if board.deadline.present?
            .board__deadline
              = icon 'far', 'clock'
              = board.deadline

    %p.bold [Team]
    - current_user.teams.each do |team|
      .team-name
        = link_to "#{team.name}", team_path(team.id)
      .boards
        - team.boards.each do |board|
          %div
            = link_to board_path(board.id), class: "link" do
              .board__link{style: "background-image: url(#{board.background.image})"}
                .bkrgba
                  .board__name
                    = board.name
            - if board.deadline.present?
              .board__deadline
                = icon 'far', 'clock'
                = board.deadline
