= render "shared/board-menu"
.board__body{ style: "background-image: url(#{@board.background.image})"}
  .lists
    - if @board.lists.present?
      .list__items
        = render @board.lists
    .list__add.list
      .list__name
        Add New List
      .list__form
        = form_for [@board, @list] do |f|
          = f.text_field :name, class: 'list__form', placeholder: 'Type List Name'
          = f.submit 'Add List', class: 'btn btn-outline-secondary'
#list-form.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
