.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %h5#exampleModalLongTitle.modal-title 
        = card.name
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
    .modal-body
      .card__content [説明]
      .card__content__child
        = card.about
      .card__content [メンバー]
      .card__content__child
        - card.users.each do |user|
          = user_icon_small(user)
          %p.icon-user
            = user.name
      .card__content [期限]
      .card__content__child
        = card.deadline
      .card__content [完了状態]
      .card__content__child
        = card.finish

      .card__content [添付ファイル]
      .card__images
        - if card.images
          - card.images.each do |image|
            = image_tag image, class: "card-image"
      .card__content__child
        = form_for [@board, @card] do |f|
          .form-group
            = f.file_field :images, multiple: true
            = f.submit "Add File", class: "btn btn-primary btn-sm"
        
      
      .card__content [コメント]
      .card__content__child
        = form_for [@board, @card, @comment] do |f|
          .form-group
            = f.text_area :text, class: 'form-control', placeholder: "write comments"
            = f.submit "Submit", class: "btn btn-primary btn-sm"
      .comments
        - if comments
          - comments.each do |comment|
            .comment
              .comment-user.bold
                = comment.user.name
              .comment-time
                = comment.created_at.strftime("%Y/%m/%d %H:%M")
              .comment-text
                = comment.text
    .modal-footer
      %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
      = link_to 'Edit Card', edit_board_card_path(@board), remote: true, class: 'btn btn-success', "data-dismiss" => "modal"
      #card-form.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      = link_to 'DELETE', board_card_path(@board), method: :delete, class: 'btn btn-danger', "data-dismiss" => "modal", data: { confirm: "カードを削除しますか？", commit: "DELETE", cancel: "Cancel"}, title: "DELETE Card"
